# Data Science Essentials: Data Cleaning
    Jane Slagle
    Vol 3 lab bebe
    10/6/22

In [4]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
import statsmodels.formula.api as smf

### Problem 1

The g\_t\_results.csv file is a set of parent-reported scores on their child's Gifted and Talented tests. 
The two tests, OLSAT and NNAT, are used by NYC to determine if children are qualified for gifted programs.
The OLSAT Verbal has 16 questions for Kindergardeners and 30 questions for first, second, and third graders.
The NNAT has 48 questions. 
Using this dataset, answer the following questions.


1) What column has the highest number of null values and what percent of its values are null? Print the answer as a tuple with (column name, percentage). Make sure the second value is a percent.

2) List the columns that should be numeric that aren't. Print the answer as a tuple.

3) How many third graders have scores outside the valid range for the OLSAT Verbal Score? Print the answer

4) How many data values are missing (NaN)? Print the number.

Each part is one point.

In [5]:
tests_df = pd.read_csv("g_t_results.csv")  #read in the data

#Question 1: want column w/ highest number of null values

num_null = tests_df.isna().sum()  #count number of nan values in each column
#print(num_null) #from this: see that School Assigned column has highest number of null values

#want % of values in School Assigned column that are null:
total_values = len(tests_df["School Assigned"])  #first get the total number of values have in that column
num_null_want = tests_df['School Assigned'].isna().sum()  #then get the numver of null values in that column specifically

percent_null = (num_null_want / total_values)*100 #calculate the actual % now
print(('School Assigned', percent_null))

#Question 2: list columns that should be numeric but aren't

#print(tests_df.dtypes) #get datatype of each column
print(('OSLAT Verbal Score', 'OSLAT Verbal Percentile', 'NNAT Non Verbal Raw Score')) #all of these columns all numeric values, but have object datatype

#Question 3: How many 3rd graders have scores outside valid range for OSLAT verbal score?
third_graders_man = tests_df[tests_df["Entering Grade Level"] == "3"] #want to only look at the 3rd graders
#print(third_graders_man) #valid range is 1 pt per question and there are 30 ?s
print(1) #from looking at the 3rd 

#Question 4: how many data values are missing NaN?
print(num_null.sum()) #doing .sum() counts the number of missing data pts in each column, but num_null already
                      #has the sum of every column, so doing .sum() on that will get the TOTAL number of data
                      #values that are missing NaN

('School Assigned', 75.21367521367522)
('OSLAT Verbal Score', 'OSLAT Verbal Percentile', 'NNAT Non Verbal Raw Score')
1
192

### Problem 2

imdb.csv contains a small set of information about 99 movies. Clean the data set by doing the following in order: 

1) Remove duplicate rows by dropping the first **or** last. Print the shape of the dataframe after removing the rows.

2) Drop all rows that contain missing data. Print the shape of the dataframe after removing the rows.

3) Remove rows that have data outside valid data ranges and explain briefly how you determined your ranges for each column.

4) Identify and drop columns with three or fewer different values. Print a tuple with the names of the columns dropped.

5) Convert the titles to all lower case.

Print the first five rows of your dataframe.

In [6]:
movie_df = pd.read_csv("imdb.csv")  #read in the data

#part 1: remove duplicate rows by dropping first OR last
movie_df.drop_duplicates(inplace = True) #keep = first says to only keep the first instances
print("QUESTION 1:")
print(movie_df.shape)
print("")

#part 2: drop all rows that contain missing data
movie_df = movie_df.dropna() #drop all rows w/ NaN, which is missing data
print("QUESTION 2:")
print(movie_df.shape)
print("")

#part 3: remove rows that have data outside valid data ranges
movie_df = movie_df[movie_df["duration"] >= 0]             #doesn't make sense to have negative time for a movie
movie_df = movie_df[movie_df["gross"] > 0]                #doesn't make sense to have negative gross
movie_df = movie_df[movie_df["title_year"] >= 1888]       #doesn't make sense to have a movie before the 1st ever movie came out
movie_df = movie_df[movie_df["budget"] >= 0]               #doesn't make sense to have a negative budget
movie_df = movie_df[movie_df["imdb_score"] > 0 ]          #doesn't make sense to have a negative score
movie_df = movie_df[movie_df["movie_facebook_likes"] >= 0] #doesn't make sense to have negative facebook likes

print("QUESTION 3:")
print(movie_df.shape)
#explain briefly how you determined your ranges for each column:
print("To determine the ranges for each column, I decided that:")
print("1) It did not make sense to have a negative amount of time (for no amount of time) for the duration of a movie")
print("2) It did not make sense to have a negative gross for a movie, but it did make sense to have no gross at all for a movie")
print("3) It did not make sense to have a movie come out before the year that the first ever movie came out")
print("4) It did not make sense to have a negative budget or no budget at all for a movie")
print("5) It did not make sense to have a negative amount of facebook likes, but it did make sense to have no facebook likes for a movie if there was no facebook post for it or if people hated the movie")
print("")

#part 4: identify, drop columns w/ 3 or fewer different values
unique = movie_df.nunique() #nunique() counts # of unique values in each row and we want find columns w/ 3 or fewer unique values
#print(unique) #print out to see how many unique values each column in dataframe has
movie_df = movie_df.drop(['color', 'language'], axis = 1) #drop those columns that have 3 or fewer diff values
print("QUESTION 4:")
print(("color", "language"))
print("")

#part 5: convert the titles to all lower case
movie_df['movie_title'] = movie_df['movie_title'].str.lower() #have 'movie_title' column. str.lower() converts all to lowercase

#print the 1st 5 rows of your dataframe:
print("QUESTION 5:")
print(movie_df.head(5)) #head(N) will print the 1st 5 rows of dataframe

QUESTION 1:
(93, 13)

QUESTION 2:
(64, 13)

QUESTION 3:
(61, 13)
To determine the ranges for each column, I decided that:
1) It did not make sense to have a negative amount of time (for no amount of time) for the duration of a movie
2) It did not make sense to have a negative gross for a movie, but it did make sense to have no gross at all for a movie
3) It did not make sense to have a movie come out before the year that the first ever movie came out
4) It did not make sense to have a negative budget or no budget at all for a movie
5) It did not make sense to have a negative amount of facebook likes, but it did make sense to have no facebook likes for a movie if there was no facebook post for it or if people hated the movie

QUESTION 4:
('color', 'language')

QUESTION 5:
       director_name  duration        gross  \
0    Martin Scorsese       240  116866727.0
1        Shane Black       195  408992272.0
2  Quentin Tarantino       187   54116191.0
3   Kenneth Lonergan       186      46495.0
4      Peter Jackson       186  258355354.0

                                 genres                          movie_title  \
0          Biography|Comedy|Crime|Drama              the wolf of wall street
1               Action|Adventure|Sci-Fi                           iron man 3
2  Crime|Drama|Mystery|Thriller|Western                    the hateful eight
3                                 Drama                             margaret
4                     Adventure|Fantasy  the hobbit: the desolation of smaug

   title_year country       budget  imdb_score  \
0        2013     USA  100000000.0         8.2
1        2013     USA  200000000.0         7.2
2        2015     USA   44000000.0         7.9
3        2011     usa   14000000.0         6.5
4        2013     USA  225000000.0         7.9

                                              actors  movie_facebook_likes
0  Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1          Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2          Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
3        Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4              Aidan Turner,Adam Brown,James Nesbitt                 83000

### Problem 3

basketball.csv contains data for all NBA players between 2001 and 2018.
Each row represents a player's stats for a year.

Create two new features:

    career_length (int): number of years player has been playing (start at 0).
    
    target (str): The target team if the player is leaving. If the player is retiring, the target should be 'retires'.
                  A player is retiring if their name doesn't exist the next year.
                  (Set the players in 2019 to NaN).

Remove all duplicate players in each year.
Remove all rows except those where a player changes team, that is, target is not null nor 'retires'.

Drop the player, year, and team_id columns.

Return the first 10 lines of your dataframe.

In [7]:
bball_df = pd.read_csv("basketball.csv") #read in the file

#remove all duplicates of a player in each year:
bball_df.drop_duplicates(['player', 'year'], inplace = True) #need specify player, year to say get rid of all duplicates for those 2 columns combined 

#create new feature career_length:
#want num yrs player has been playing: will be same as len of rows that that player shows up
#make dict to get all of the players: key is player name, value is num times the player name shows up
#when make dict: loop through the number of unique player names that have: so loop through each player
players = {player: len(bball_df[bball_df['player'] == player]) for player in np.unique(bball_df['player'])}
bball_df["career_length"] = [players[player] for player in bball_df['player']] #create career_length column now

#need see if player is there the next year for when make target column:
#this loops through all of the players, years and sees if the player is there the next year, specify team_id
#because want the target team (the team id) for the next year
nextyrInfo = [bball_df[bball_df['player'] == player][bball_df['year']==year+1]['team_id'] for player, year in zip(bball_df['player'], bball_df['year'])]

#now actually create target column:
#if nextyrInfo thingy has length 0 (has nothing in it), then know they're retiring
#else: case for when they're not retiring: np.unique(thingy)[0] just gives you the team id which is what we want
bball_df['target'] = ['retires' if len(thingy) == 0 else np.unique(thingy)[0] for thingy in nextyrInfo]

bball_df.loc[bball_df['year'] == 2019, 'target'] = np.nan #set all players in 2019 to have target NaN

#remove all rows except those where target is NOT nan nor retires
bball_df = bball_df[bball_df['target'] != bball_df['team_id']] #drop rows where player does not change team
bball_df = bball_df[bball_df['year'] != 2019] #drop rows where all nan target entries bc 2019 is all nans
bball_df = bball_df[bball_df['target'] != 'retires']  #drop rows where all retire target entries

#drop the player, year, team_id columns:
bball_df = bball_df.drop(['player', 'year', 'team_id'], axis = 1)

#return 1st 10 lines of dataframe:
display(bball_df.head(10))

/tmp/ipykernel_6454/851386723.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  nextyrInfo = [bball_df[bball_df['player'] == player][bball_df['year']==year+1]['team_id'] for player, year in zip(bball_df['player'], bball_df['year'])]

     age   per   ws  bpm  career_length target
453   27   8.2  1.0 -2.5              7    PHO
461   24  13.0  1.2 -0.9              4    ATL
462   24  15.9  6.2  2.9              5    MEM
464   33  12.7  3.7 -1.9             16    HOU
467   32  11.8  5.3  0.7             15    PHO
477   29   7.5  1.1 -2.8             11    MIN
482   31  14.1  1.9 -0.2             12    SAS
489   25  14.1  2.9 -2.4              8    CHO
490   29  12.6  2.8  0.1              4    SAC
493   28  13.0  0.0 -3.2              9    MIL

### Problem 4

Load housing.csv into a dataframe with index=0. Descriptions of the features are in housing_data_description.txt.  
The goal is to construct a regression model that predicts SalePrice using the other features of the dataset.  Do this as follows:

	1) Identify and handle the missing data.  Hint: Dropping every row with some missing data is not a good choice because it gives you an empty dataframe.  What can you do instead?
    
	2) Identify the variable with nonnumeric values that are misencoded as numbers.  One-hot encode it. Hint: don't forget to remove one of the encoded columns to prevent collinearity with the constant column (which you will add later).
    
    3) Add a constant column to the dataframe.

    4) Save a copy of the dataframe.

	5) Choose four categorical featrues that seem very important in predicting SalePrice. One-hot encode these features and remove all other categorical features.
		
	6) Run an OLS using all numerical data regression on your model.  

	
Print the ten features that have the highest coef in your model and the summary. Don't print the OLS

In [8]:
housing_df = pd.read_csv("housing.csv", index_col = 0) #load file in w/ index=0
n = len(housing_df)

#PART 1:
#identify, handle missing data: missing data is NaNs, means we want to drop all nan values
nan_percs = [len(housing_df[housing_df[c].isnull()])/n for c in housing_df.columns] #get % of nan entries
mask = np.array(nan_percs) > 0.1  #create mask of which nan entries are greater than .01 (want drop these ones) bc want dorp those ones
drop_it_low = housing_df.columns[mask]    #apply mask to columns of dataframe so know which columns to drop
housing_df = housing_df.drop(drop_it_low, axis = 1) #now actually drop those columns
housing_df = housing_df.dropna()  #now drop all rows with nans

#PART 2:
#the variable w/ non-numeric values that are misencoded as numbers is the column MSSubClass: bc they shld just
#be descriptions of the neighborhoods (strings), but they're encoded as numbers SO know it's that one
housing_df = pd.get_dummies(housing_df, columns = ['MSSubClass'])  #one hot encode it

#once have one hot encoding: construct new feature for every possible value of the feature just one hot encoded 
#(these features are the bunch of new columns that get from the column just one hot encoded)
MSSubCols = ['MSSubClass_20', 'MSSubClass_30', 'MSSubClass_40', 'MSSubClass_40', 'MSSubClass_45', 'MSSubClass_50',
            'MSSubClass_60', 'MSSubClass_70', 'MSSubClass_75', 'MSSubClass_80', 'MSSubClass_85', 'MSSubClass_90',
            'MSSubClass_120', 'MSSubClass_160', 'MSSubClass_180', 'MSSubClass_190']

#PART 3: summing the one hot encoding terms gives constant column want add to df:
housing_df['MSSubClassConst'] = np.sum(housing_df[MSSubCols].to_numpy(), axis = 1)

#want drop one of the encoded columns to prevent blah blah blah it says why in the problem:
housing_df = housing_df.drop(columns = 'MSSubClass_190')

#PART 4: save copy of dataframe
newhousing_df = housing_df.copy()

#PART 5: choose 4 cateogrical features = OBJECT data types:
important_fts = ['MSZoning', 'Street', 'LotShape', 'LandContour']
#print(housing_df.dtypes[housing_df.dtypes == object].index) #this will print out all categorical objects have

#one hot encode these important features:
housing_df = pd.get_dummies(housing_df, columns = important_fts)

#remove all of the other categorical features:
dropCols = ['Utilities','LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond',
       'PavedDrive', 'SaleType', 'SaleCondition']

housing_df = housing_df.drop(columns = dropCols) #now actually drop them WOOHOO!

#PART 6: run OLS regression
#want predict sale price so X in code given is sale price
X = housing_df.drop(columns = ['SalePrice']) #drop sale price bc dont want use sale price to predict sale price
y = housing_df['SalePrice']

results = sm.OLS(y, X).fit() #run the OLS regression

#convert summary table to dataframe:
results_as_html = results.summary().tables[1].as_html()
result_df = pd.read_html(results_as_html, header=0, index_col=0)[0]

#print ten features w/ highest coeff in your model and summary: the summary has a coeff column
result_df = result_df.sort_values(['coef'], ascending = False) #sort summary in descending order
result_df.head(10)  #the 1st 10 features now are the ones w/ highest coeffs

                    coef     std err       t  P>|t|      [0.025    0.975]
LotShape_IR2     24360.0  216000.000   0.113  0.910 -399000.000  447000.0
MSSubClass_30    17750.0   10500.000   1.687  0.092   -2886.447   38400.0
OverallQual      17720.0    1309.768  13.533  0.000   15200.000   20300.0
Street_Pave      17580.0  431000.000   0.041  0.967 -827000.000  862000.0
LandContour_HLS  17410.0  215000.000   0.081  0.936 -405000.000  440000.0
MSZoning_FV      15210.0  173000.000   0.088  0.930 -323000.000  354000.0
GarageCars       14500.0    3060.638   4.737  0.000    8494.538   20500.0
LotShape_IR1     13660.0  215000.000   0.063  0.949 -409000.000  436000.0
MSSubClassConst  12120.0  432000.000   0.028  0.978 -834000.000  859000.0
LotShape_Reg     12020.0  215000.000   0.056  0.956 -411000.000  435000.0

### Problem 5

Using the copy of the dataframe you created in Problem 4, one-hot encode all the categorical variables.
Print the shape of the dataframe and run OLS.

Print the ten features that have the highest coef in your model and the summary.
Write a couple of sentences discussing which model is better and why.

In [9]:
#use copy of dataframe from prob 4: one hot encode ALL the cateogrical variables
newhousing_df = pd.get_dummies(newhousing_df, columns = newhousing_df.dtypes[newhousing_df.dtypes == object].index)
print(newhousing_df.shape)

#run OLS:
X = newhousing_df.drop(columns = ['SalePrice'])
y = newhousing_df['SalePrice']

results = sm.OLS(y, X).fit()

#print 10 features w/ highest coeffs in model, summary
results_as_html = results.summary().tables[1].as_html()
results_df = pd.read_html(results_as_html, header=0, index_col=0)[0]

results_df = results_df.sort_values(['coef'], ascending = False)
display(results_df.head(10))

print("")

#looking at the highest coeffs tells you which model is better: the highest coeffs are the ones that are
#most important, so look at which ones are deemed more important to see which model is better
print("The model from problem 4 is better BECAUSE the highest coefficients from the problem 4 model are a ")
print("lot better than the ones here in problem 5. The highest coefficients in problem 4 give more important")
print("features for determining sale price than in problem 5. For example, features such as lot shape,")
print("overall quality, street pavement, garages, lot shapes, etc. (the features from problem 4)")
print("are much more important features for determining sale price than roofing materials, garage quality, etc.")
print("(the most important features from problem 5)")

#looking at highest coeffs tells you which model is better: the highest ones here w/ this model are not 
#    important for determining sale price

(1338, 279)

                       coef  std err      t  P>|t|     [0.025    0.975]
RoofMatl_Membran   149100.0  32200.0  4.626  0.000  85900.000  212000.0
RoofMatl_Metal     124300.0  31000.0  4.007  0.000  63400.000  185000.0
RoofMatl_WdShngl   100100.0  21000.0  4.763  0.000  58900.000  141000.0
GarageQual_Ex       85660.0  36300.0  2.361  0.018  14500.000  157000.0
Condition2_PosA     79330.0  38700.0  2.048  0.041   3330.600  155000.0
RoofStyle_Shed      65090.0  35800.0  1.816  0.070  -5230.185  135000.0
RoofMatl_Tar&Grv    56560.0  22100.0  2.565  0.010  13300.000   99800.0
RoofMatl_Roll       51550.0  30000.0  1.716  0.086  -7393.659  111000.0
RoofMatl_CompShg    47900.0  18900.0  2.532  0.011  10800.000   85000.0
Condition2_Artery   39250.0  30300.0  1.297  0.195 -20100.000   98600.0

The model from problem 4 is better BECAUSE the highest coefficients from the problem 4 model are a
lot better than the ones here in problem 5. The highest coefficients in problem 4 give more important
features for determining sale price than in problem 5. For example, features such as lot shape,
overall quality, street pavement, garages, lot shapes, etc. (the features from problem 4)
are much more important features for determining sale price than roofing materials, garage quality, etc.
(the most important features from problem 5)