# Pandas 1

## Jane Slagle

## Math 403 Section 2

## 8/29/22

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

# Problem 1

In [2]:
# Prob 1
def prob1(file='budget.csv'):
    """"
    Read in budget.csv as a DataFrame with the index as column 0 and perform each of these operations on the DataFrame in order. 
    
    1) Reindex the columns such that amount spent on groceries is the first column and all other columns maintain the same ordering.
    2) Sort the DataFrame in descending order based on how much money was spent on Groceries.
    3) Reset all values in the 'Rent' column to 800.0.
    4) Reset all values in the first 5 data points to 0.0
    
    Return the values of the updated DataFrame as a NumPy array.
    
    Parameters:
        file (str): name of datafile
        
    Return:
        values (ndarray): values of DataFrame
    """
    budget = pd.read_csv(file, index_col = 0) #1st read in csv file, convert into DataFrame using method. set index as column 0
    
    budget = budget.reindex(columns = ['Groceries','Rent','Utilities','Dining Out','Gas','Out With Friends','Netflix'])
    #reorder columns so that Groceries is 1st, keep all others in same ordering

    budget = budget.sort_values('Groceries', ascending = False) #sort DataFrame descending according to $$ spent on Groceries
    
    budget['Rent'] = 800.0 #reset Rent column so that all have 800.0
    
    #can use iloc to access DataFrame through its indexers and want reset 1st 5 datapoints to be 0.0 & each
    budget.iloc[[0,1,2,3,4]] = 0.0 #row is a separate datapoint and each row is an index, so reset 1st 5 rows
        
    return budget.values #return all values of DataFrame as numpy array

In [3]:
#test prob 1
prob1()

array([[  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [  0.,   0.,   0.,   0.,   0.,   0.,   0.],
       [174., 800.,  90.,  37.,  30.,  23.,   8.],
       [174., 800.,  82.,  35.,  nan,  26.,  nan],
       [172., 800.,  82.,  31.,  30.,  26.,   8.],
       [171., 800.,  82.,  40.,  nan,  23.,  nan],
       [171., 800.,  82.,  35.,  nan,  27.,  nan],
       [171., 800.,  80.,  30.,  31.,  22.,  nan],
       [170., 800.,  90.,  34.,  33.,  nan,   8.],
       [170., 800.,  85.,  34.,  nan,  25.,  nan],
       [167., 800.,  92.,  30.,  nan,  29.,  nan],
       [163., 800.,  85.,  30.,  nan,  nan,  nan],
       [163., 800.,  90.,  31.,  nan,  25.,  nan],
       [161., 800.,  85.,  30.,  nan,  24.,  nan],
       [160., 800.,  91.,  32.,  28.,  23.,  nan],
       [158., 800.,  92.,  nan,  nan,  22.,  nan],
       [157., 800.,  82.,  nan,  32.,  21.,   8.],
       [155., 800.,  80.,  nan,  33.,  26.,   8.],
       [155., 800.,  92.,  33.,  nan,  nan,  nan],
       [153., 800.,  80.,  31.,  30.,  27.,   8.],
       [152., 800.,  95.,  30.,  46.,  nan,   8.],
       [152., 800.,  85.,  39.,  nan,  29.,  nan],
       [152., 800.,  95.,  32.,  34.,  22.,   8.],
       [150., 800.,  90.,  34.,  nan,  25.,  nan],
       [148., 800.,  91.,  40.,  31.,  nan,  nan],
       [148., 800.,  91.,  34.,  28.,  27.,  nan],
       [146., 800.,  95.,  31.,  32.,  23.,   8.],
       [145., 800.,  91.,  30.,  29.,  28.,  nan],
       [145., 800.,  82.,  40.,  nan,  27.,  nan],
       [145., 800.,  90.,  32.,  nan,  29.,  nan],
       [143., 800.,  95.,  38.,  34.,  21.,   8.],
       [141., 800.,  82.,  37.,  nan,  27.,  nan],
       [140., 800.,  82.,  31.,  30.,  24.,   8.],
       [140., 800.,  92.,  34.,  nan,  24.,  nan],
       [137., 800.,  82.,  nan,  31.,  28.,   8.],
       [137., 800.,  82.,  36.,  nan,  20.,  nan],
       [137., 800.,  95.,  36.,  34.,  23.,   8.],
       [136., 800.,  92.,  36.,  nan,  22.,  nan],
       [135., 800.,  90.,  34.,  32.,  22.,   8.],
       [134., 800.,  82.,  39.,  35.,  24.,   8.],
       [133., 800.,  91.,  36.,  nan,  23.,  nan],
       [131., 800.,  85.,  38.,  nan,  23.,  nan],
       [131., 800.,  80.,  31.,  29.,  nan,  nan],
       [130., 800.,  85.,  31.,  nan,  22.,  nan],
       [130., 800.,  91.,  34.,  nan,  21.,  nan]])

# Problem 2

In [4]:
# Prob 2
def prob2(file='budget.csv'):
    """
    Read in file as DataFrame.
    Fill all NaN values with 0.0.
    Create two new columns, 'Living Expenses' and 'Other'. 
    Sum the columns 'Rent', 'Groceries', 'Gas' and 'Utilities' and set it as the value of 'Living Expenses'.
    Sum the columns 'Dining Out', 'Out With Friends' and 'Netflix' and set as the value of 'Other'.
    Identify which column, other than 'Living Expenses' correlates most with 'Living Expenses'
    and which column other than 'Other' correlates most with 'Other'.

    Return the names of each of those columns as a tuple.
    The first should be of the column corresponding to \li{'Living Expenses'} and the second to \li{'Other'}.
    
    Parameters:
        file (str): name of datafile
        
    Return:
        values (tuple): (name of column that most relates to Living Expenses, name of column that most relates to Other)
    """
    budget = pd.read_csv(file)   #read in csv file as DataFrame
    budget = budget.fillna(0.0)  #fill all NaN values w/ 0.0
    
    #create 2 new columns whose values are made of sum of other columns values
    budget['Living Expenses'] = budget['Rent'] + budget['Groceries'] + budget['Gas'] + budget['Utilities']
    budget['Other'] = budget['Dining Out'] + budget['Out With Friends'] + budget['Netflix']
    
    corr = budget.corr() #get the correlation between all of the columns
    
    #identify which column, other than 'Living Expenses', correlates most with 'LE', same with Other column
    
    #use loc to select LE, Other columns. matrix symmetric so columns are same as rows 
    #want column most correlated to them that aren't themselves so will want the 2nd one (it will be 1st one)
    LE_corr = corr.loc['Living Expenses'].sort_values(ascending = False).index[1]
    other_corr = corr.loc['Other'].sort_values(ascending = False).index[1]
    
    return (LE_corr, other_corr)

In [5]:
#test prob 2
prob2()

('Rent', 'Dining Out')

# Problem 3

In [6]:
def prob3(file='crime_data.csv'):
    """
    Read in crime data and use pandas to answer the following questions.
    
    Set the index as the column 'Year', and return the answers to each question as a tuple.
    
    1) Identify the three crimes that have a mean over 1,500,000. 
    Of these three crimes, which two are very correlated? 
    Which of these two crimes has a greater maximum value?
    Save the title of this column as a variable to return as the answer.
    
    2) Examine the data since 2000.
    Sort this data (in ascending order) according to number of murders.
    Find the years where Aggravated Assault is greater than 850,000.
    Save the indices (the years) of the masked and reordered DataFrame as a NumPy array to return as the answer.
    
    3) What year had the highest crime rate? 
    In this year, which crime was committed the most? 
    What percentage of the total crime that year was it? 
    Save this value as a float.
    
    
    Parameters:
        file (str): data
    
    Return:
        ans_1 (string): answer to Question 1
        ans_2 (ndarray): answer to Question 2
        ans_3 (float): answer to Question 3
    """
    criminy = pd.read_csv(file, index_col = 'Year') #read file as pandas object, set index as column Year
    
    #part 1:
    #drop population, total columns because only want crime columns
    criminy1 = criminy.drop('Population', axis = 1).drop('Total', axis = 1) #put axis there to specify want entire column gone
    mask1 = criminy1.mean() > 1500000 #mask to find 3 crimes w/ mean over 1.5 mil
    three_crimes = criminy1.columns[mask1] #apply mask to cols bc mask tells you which cols are > 1.5 mil. want 3 cols that are true
    corr = criminy1[three_crimes].corr()   #get correlation btw all 3 crimes
    
    #find which column each of the 3 cols are most correlated with to find the 2 that are most related
    val1 = corr.loc[three_crimes[0]].sort_values(ascending = False).index[1]
    val2 = corr.loc[three_crimes[1]].sort_values(ascending = False).index[1]
    val3 = corr.loc[three_crimes[2]].sort_values(ascending = False).index[1]
    
    most_corr = set()   #make set to store the 2 most correlated columns in bc a set will remove duplicates
    most_corr.add(val1) 
    most_corr.add(val2)
    most_corr.add(val3)
    corr_most = list(most_corr) #turn into list bc easier to work with
    
    #figure out which crime has greater max value:
    all_maxs = criminy1.max()   #get max of every column
    #get max of the 2 columns in corr_most list, take their argmax to find which one is max and then access
    #corr_most list at that index to get the column want
    ans_1 = corr_most[np.argmax([all_maxs[corr_most[0]], all_maxs[corr_most[1]]])]
  
    #part 2:
    criminy2 = criminy.iloc[40:] #want data starting at 2000 (years are index = row) so use iloc
    criminy2 = criminy2.sort_values('Murder') #sort data in ascending order according to murders
    mask2 = criminy2['Aggravated Assault'] > 850000  #make mask to get years want
    ans_2 = criminy2[mask2].index.values #save indices (the row labels, years) and turn into array
    
    #part 3:
    crime_rate = criminy['Total'] / criminy['Population']  #first get the crime rate which is total crime/pop
    highest_year_index = np.argmax(crime_rate)           #want year w/ highest crime rate and years are the indices, so use argmax here
    row = criminy.iloc[highest_year_index]               #get the actual year w/ highest crime rate                     
    highest_crime = row.drop('Population').drop('Total').max() #need get rid of pop, total to get the highest crime for that year/row
    
    #get % of total crime that year (so at that row). drop pop, get max bc the total will be next highest after pop
    ans_3 = highest_crime / row.drop('Population').max()
    
    return ans_1, ans_2, float(ans_3)

In [7]:
#test prob 3
prob3()

('Property',
 array([2000, 2001, 2002, 2003, 2005, 2007, 2006]),
 0.8997188308734142)

# Problem 4

In [8]:
def prob4(file='DJIA.csv'):
    """

    Read the data with a DatetimeIndex as the index.
    Drop rows any rows without numerical values, cast the "VALUE" column to floats, then return the updated DataFrame.

    Parameters:
        file (str): data file
    Returns:
        df (DataFrame): updated DataFrame of stock market data
    """
    dow = pd.read_csv(file, dtype = {'VALUE' : np.float64}, na_values = '.') #read dataframe in, cast VALUE cols to be floats
                                                                             #turn everything not a number into a NaN so that can more easily drop them
    dow.set_index(pd.to_datetime(dow["DATE"]), inplace = True)               #make the index a DatetimeIndex
    
    dow = dow.dropna() #drop any rows w/out numerical values
    
    dow = dow.drop(columns = 'DATE') #need delete one of the date columns
    
    return dow

In [9]:
prob4()

               VALUE
DATE
2006-09-27  11689.24
2006-09-28  11718.45
2006-09-29  11679.07
2006-10-02  11670.35
2006-10-03  11727.34
...              ...
2016-09-20  18129.96
2016-09-21  18293.70
2016-09-22  18392.46
2016-09-23  18261.45
2016-09-26  18094.83

[2517 rows x 1 columns]

# Problem 5

In [10]:
def prob5(file='paychecks.csv'):
    """

    Create data_range for index of paycheck data.

    Parameters:
        file (str): data file
    Returns:
        df (DataFrame): DataFrame of paycheck data
    """
    paychecks = pd.read_csv(file, names = ['Pay']) #need create names bc otherwise the formatting is off
    dates = pd.date_range(start = '3/14/2008', periods = 93, freq = '2W-FRI') #get the dates w/ pd.date_range()
                                                                              #need specify the frequency bc only paychecks to be given out every other Friday
    paychecks = paychecks.set_index(dates) #set the dates as the new index of the DataFrame
    
    return paychecks

In [11]:
prob5()

                Pay
2008-03-14  1122.26
2008-03-28   921.03
2008-04-11   962.46
2008-04-25  1035.97
2008-05-09  1078.59
...             ...
2011-07-29  1095.53
2011-08-12  1018.39
2011-08-26  1027.08
2011-09-09  1005.90
2011-09-23   963.29

[93 rows x 1 columns]

# Problem 6

In [12]:
def prob6(file='DJIA.csv'):
    """
    Compute the following information about the DJIA dataset
    1. The single day with the largest gain
    2. The single day with the largest loss

    Parameters:
        file (str): data file
    Returns:
        max_day (<M8[ns]): DateTimeIndex of maximum change
        min_day (<M8[ns]): DateTimeIndex of minimum change
    """
    djia = prob4(file) #callthe DJIA dataset from prob 4 that has data time index
    
    #get the day w/ largest gain: so need shift through all the days, find the difference in the values btw the days
    diffs = djia - djia.shift(1)  #find changes from one day to the next. this gives array that can find the gains, losses from
    
    gains_baby = diffs.idxmax()    #get index of the largest gain
    loss_boo_hoo = diffs.idxmin()  #get index of the largest loss
        
    return gains_baby, loss_boo_hoo

In [13]:
prob6()

(VALUE   2008-10-13
 dtype: datetime64[ns],
 VALUE   2008-09-29
 dtype: datetime64[ns])